section.hero.container
    .hero__container
        img.hero__icon(src="./assets/img/icons/check-top.png")
        .hero__content
            h2 ЗАЙМЫ НА КАРТУ
            p #[span.blue ОНЛАЙН] #[span.red СРОЧНО] #[span.green БЕЗ&nbsp;ПРОВЕРОК]


