section.requisites
    .requisites__container.container
        p ОО МКК «Русинтерфинанс», ИНН 5408292849, ОГРН 1125476023298
        p OOO MКК «Aдeлaидa» OГPН 1237800087040 ИНН 7838115690 КПП 783801001
        p ООО МФК "ЭкспрессДеньги" ИНН 1215150103 КПП 121501001
        p ООО МКК «Срочноденьги» ИНН 5260271530 КПП 526201001
        p ООО МКК «Вердон» ОГРН: 1187847193896 ИНН: 7810733986
        p ООО МКК "ЗАНИМАТЕЛЬНЫЕ ФИНАНСЫ" ИНН 9717113526 ОГРН 1227700228766
        p ООО МКК «Фалкон» ОГРН: 1177847324621 ИНН: 7811665351
        p ООО МКК «Фастмани.ру» ИНН 7805714988 ОГРН 1177847323741 КПП 780501001
        p ООО «МФК «ЮПИТЕР 6» ОГРН: 1117847472973 ИНН: 7840460408, КПП: 780101001
        p ООО МКК «Свои Люди», ИНН 9722021888, ОГРН 1227700296042
        p ООО МКК «БАНКА ДЕНЕГ», ИНН 9727039021, ОГРН 1237700445696
