section.catalog
    .catalog__container.container

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/01-kapusta.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО&nbsp;21&nbsp;ДНЯ <br> БОНУС ДО 1000р!
            a.card__button(href="https://ekapusta.com?bonus=dkn-419-d7d&utm_source=bonus&utm_medium=display" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/02-prostoy-vopros.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-120 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~90%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 14 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/1tR707Su?erid=2SDnjcxdVhK" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/03-dengi-na-dom.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 14 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/kYa5LdR6?erid=2SDnjdttXYU" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/04-otlichnye-nalichnye.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 20.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~90%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/Q6FOgWMP?erid=Kra23g1Lt" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/05-zaem-ru.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~95%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 30 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/uLteuHrX?erid=2SDnjcjAe4z" target="_blank") Перейти к оформлению


        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/06-vash-kredit.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="https://trk.ppdu.ru/click/hZ233kLu?erid=2SDnjc7jaxR" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/07-mir-deneg.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/BAcZetR7?erid=2SDnjezv489" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/08-celevye-financy.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/zj7WUo7y?erid=2SDnjeePynH" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/09-fast-money.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/V8vjiyJT?erid=2SDnjdVma25" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/10-joymoney.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="https://trk.ppdu.ru/click/Ly6SLtzG?erid=Kra23wZmP" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/11-zaymi-rub.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/HU0Xy2YU?erid=2SDnjboQqCD" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/12-denga.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 8.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 15 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/kMpqovvy?erid=2SDnjf3cK1c" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/13-svoi-ludi.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 5.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 15 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/kMpqovvy?erid=2SDnjf3cK1c" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/14-a-deneg.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="https://trk.ppdu.ru/click/koxcft4l?erid=2SDnjdh4udK" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/15-495-kredit.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 12 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/IAW7SKIZ?erid=2SDnjc491tc" target="_blank") Перейти к оформлению

        article.card(data-aos="fade-up")
            img.card__logo(src="./assets/img/logos-card/16-dobro-zaim.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="https://trk.ppdu.ru/click/HiQFTw8J?erid=2SDnjdGSjHa" target="_blank") Перейти к оформлению
