section.catalog
    .catalog__container.container

        article.card
            img.card__logo(src="./assets/img/logos-card/01-kapusta.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО&nbsp;21&nbsp;ДНЯ <br> БОНУС ДО 1000р!
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/02-prostoy-vopros.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-120 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~90%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 14 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/03-dengi-na-dom.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 14 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/04-otlichnye-nalichnye.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 20.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~90%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/05-zaem-ru.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~95%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 30 ДНЕЙ
            a.card__button(href="") Перейти к оформлению


        article.card
            img.card__logo(src="./assets/img/logos-card/06-vash-kredit.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/07-mir-deneg.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/08-celevye-financy.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/09-fast-money.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/10-joymoney.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/11-zaymi-rub.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/12-denga.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 8.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 15 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/13-svoi-ludi.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 5.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 15 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/14-a-deneg.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 30.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 21 ДНЯ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/15-495-kredit.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 10.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 12 ДНЕЙ
            a.card__button(href="") Перейти к оформлению

        article.card
            img.card__logo(src="./assets/img/logos-card/16-dobro-zaim.png")
            ul.card__advantages-list
                li.card__advantages-item ЗАЙМЫ ДО 15.000Р
                li.card__advantages-item НА КАРТУ НА 7-21 ДНЕЙ
                li.card__advantages-item ВЫСОКОЕ ОДОБРЕНИЕ ~85%
            p.card__payment БЕЗ ПРОЦЕНТОВ ДО 7 ДНЕЙ
            a.card__button(href="") Перейти к оформлению
