head
    meta(charset="utf-8")
    title #{title}

    meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")
    meta(property="og:title" content="Лучшие Онлайн МФО России 2024 года")
    meta(property="og:description" content="ЗАЙМЫ НА КАРТУ | ОНЛАЙН, СРОЧНО, БЕЗ ПРОВЕРОК")

    link(rel="stylesheet" type='text/css' href="./assets/css/libs.min.css")
    link(rel="stylesheet" type='text/css' href="./assets/css/main.css")
