header.header
    .container.header__container
        .header__title
            h1 Лучшие Онлайн МФО России 2024 года!
            p Лучшие МФО из реестра ЦБ РФ по Отзывам.
        img.header__logo(src="./assets/img/logo.svg")


